common --noenable_bzlmod  # Do not use MODULE.bazel yet

build --cxxopt=-std=c++17 --host_cxxopt=-std=c++17

build --cxxopt=-fno-exceptions --host_cxxopt=-fno-exceptions
build --copt=-Werror

# --config=ci is used by pre-commit which always runs in a brand
# new dir. This is a case where external caching is very usefull
# but not something that can be configured globaly. To configure
# that, add that config in one of the other .bazelrc files.

common:ci --announce_rc # See https://github.com/bazelbuild/bazel/issues/7116
test:ci   --test_summary=terse # don't list passing tests during commit.
